<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.goodsMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.goods" >
    <id column="gid" property="gid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="gname" property="gname" jdbcType="VARCHAR" />
    <result column="gstart" property="gstart" jdbcType="TIMESTAMP" />
    <result column="gfinish" property="gfinish" jdbcType="TIMESTAMP" />
    <result column="gstartingprice" property="gstartingprice" jdbcType="INTEGER" />
    <result column="gtransactionprice" property="gtransactionprice" jdbcType="INTEGER" />
    <result column="gnotice" property="gnotice" jdbcType="VARCHAR" />
    <result column="gpicture" property="gpicture" jdbcType="VARCHAR" />
    <result column="gstate" property="gstate" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    gid, uid, gname, gstart, gfinish, gstartingprice, gtransactionprice, gnotice, gpicture, 
    gstate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods
    where gid = #{gid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where gid = #{gid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.goods" >
    insert into goods (gid, uid, gname, 
      gstart, gfinish, gstartingprice, 
      gtransactionprice, gnotice, gpicture, 
      gstate)
    values (#{gid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{gname,jdbcType=VARCHAR}, 
      #{gstart,jdbcType=TIMESTAMP}, #{gfinish,jdbcType=TIMESTAMP}, #{gstartingprice,jdbcType=INTEGER}, 
      #{gtransactionprice,jdbcType=INTEGER}, #{gnotice,jdbcType=VARCHAR}, #{gpicture,jdbcType=VARCHAR}, 
      #{gstate,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.goods" >
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        gid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="gname != null" >
        gname,
      </if>
      <if test="gstart != null" >
        gstart,
      </if>
      <if test="gfinish != null" >
        gfinish,
      </if>
      <if test="gstartingprice != null" >
        gstartingprice,
      </if>
      <if test="gtransactionprice != null" >
        gtransactionprice,
      </if>
      <if test="gnotice != null" >
        gnotice,
      </if>
      <if test="gpicture != null" >
        gpicture,
      </if>
      <if test="gstate != null" >
        gstate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="gname != null" >
        #{gname,jdbcType=VARCHAR},
      </if>
      <if test="gstart != null" >
        #{gstart,jdbcType=TIMESTAMP},
      </if>
      <if test="gfinish != null" >
        #{gfinish,jdbcType=TIMESTAMP},
      </if>
      <if test="gstartingprice != null" >
        #{gstartingprice,jdbcType=INTEGER},
      </if>
      <if test="gtransactionprice != null" >
        #{gtransactionprice,jdbcType=INTEGER},
      </if>
      <if test="gnotice != null" >
        #{gnotice,jdbcType=VARCHAR},
      </if>
      <if test="gpicture != null" >
        #{gpicture,jdbcType=VARCHAR},
      </if>
      <if test="gstate != null" >
        #{gstate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.goods" >
    update goods
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="gname != null" >
        gname = #{gname,jdbcType=VARCHAR},
      </if>
      <if test="gstart != null" >
        gstart = #{gstart,jdbcType=TIMESTAMP},
      </if>
      <if test="gfinish != null" >
        gfinish = #{gfinish,jdbcType=TIMESTAMP},
      </if>
      <if test="gstartingprice != null" >
        gstartingprice = #{gstartingprice,jdbcType=INTEGER},
      </if>
      <if test="gtransactionprice != null" >
        gtransactionprice = #{gtransactionprice,jdbcType=INTEGER},
      </if>
      <if test="gnotice != null" >
        gnotice = #{gnotice,jdbcType=VARCHAR},
      </if>
      <if test="gpicture != null" >
        gpicture = #{gpicture,jdbcType=VARCHAR},
      </if>
      <if test="gstate != null" >
        gstate = #{gstate,jdbcType=INTEGER},
      </if>
    </set>
    where gid = #{gid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.goods" >
    update goods
    set uid = #{uid,jdbcType=INTEGER},
      gname = #{gname,jdbcType=VARCHAR},
      gstart = #{gstart,jdbcType=TIMESTAMP},
      gfinish = #{gfinish,jdbcType=TIMESTAMP},
      gstartingprice = #{gstartingprice,jdbcType=INTEGER},
      gtransactionprice = #{gtransactionprice,jdbcType=INTEGER},
      gnotice = #{gnotice,jdbcType=VARCHAR},
      gpicture = #{gpicture,jdbcType=VARCHAR},
      gstate = #{gstate,jdbcType=INTEGER}
    where gid = #{gid,jdbcType=INTEGER}
  </update>
</mapper>